# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
__pycache__/

# Virtual environment directories
.venv/
venv/
env/
ENV/

# Flask instance folder
instance/

# Flask session files
flask_session/

# SQLite database files
*.db
*.sqlite3

# Environment variables
.env
.env.*

# Logs and debug information
*.log
*.bak
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
