body {
    background-color: #f8f9fa;
}

h1, h2 {
    color: #495057;
}

.navbar {
    margin-bottom: 20px;
}

.table th, .table td {
    text-align: center;
}

.index-container{
    padding-bottom: 20rem;
}

.add-btn {
    width: 100%;
    margin-bottom: 2rem;
}

.find-transactions {
    font-size: 1.5rem;
}

.export-buttons {
    text-align: right;
}


.modal-title{
    margin-right: 1rem;
}

.transaction-row {
    cursor: pointer;
}
